<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47012066504-bgdm6lmqc3v1ggo78gelvpk490b2jn9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47012066504-bgdm6lmqc3v1ggo78gelvpk490b2jn9o</string>
	<key>API_KEY</key>
	<string>AIzaSyB7TiRrTlbVz_0_DzrJU3Ii_hN_eUjThi8</string>
	<key>GCM_SENDER_ID</key>
	<string>47012066504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appAdminToko</string>
	<key>PROJECT_ID</key>
	<string>final-project-toko-flutt-4e32a</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-toko-flutt-4e32a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47012066504:ios:c4d29c3965f46589a861fd</string>
</dict>
</plist>